# Buscando dados hist√≥ricos da api eodhistoricaldata.com

Fonte da biblioteca: <https://github.com/LautaroParada/eod-data>

Exemplo de uso: <https://eodhistoricaldata.com/financial-academy/how-to-get-stocks-data-examples/eod-historical-data-api-python-library-overview/>

In [1]:
from eod import EodHistoricalData
import pandas as pd

client = EodHistoricalData("demo")


stock = client.get_prices_eod("AAPL.US", period='d', order='d')

df = pd.DataFrame(stock)

df.head()

         date    open    high     low   close  adjusted_close    volume
0  2023-03-31  162.44  165.00  162.13  164.90          164.90  68749792
1  2023-03-30  161.53  162.47  161.27  162.36          162.36  49501700
2  2023-03-29  159.37  161.05  159.35  160.77          160.77  51305700
3  2023-03-28  157.97  158.49  155.98  157.65          157.65  45992200
4  2023-03-27  159.94  160.77  157.87  158.28          158.28  52390300

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10665 entries, 0 to 10664
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            10665 non-null  object
 1   open            10665 non-null  float64
 2   high            10665 non-null  float64
 3   low             10665 non-null  float64
 4   close           10665 non-null  float64
 5   adjusted_close  10665 non-null  float64
 6   volume          10665 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 583.4+ KB